<section class="container">
            <div class="features-head row">
              <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <h3>Building Software Just Got Easier</h3>
                  <br>
                  <p class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">Digital Garage developers can quickly and easily build applications using either the web console, command-line interface, or integrated development environments</p>
              </div>
            </div>
            <br>
            <div class="features-row row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <!-- Content panel in every span for padding -->
                    <div class="feature-icon">
                      <img class="" ng-src="modules/home/img/icons/1.png" alt="" />
                    </div>
                      <h4 class="feature-title margin-top-0">
                        ONE-STOP DEVELOPMENT ENVIRONMENT
                      </h4>
                      <p>Once code committed to Github is transferred to Digital Garage, developers enjoy a selection of over 30 one-click application installs to continue product build. An appropriate number of Digital Garage pods - <i>Docker containers running on our infrastructure</i> - are then spun up. If an application is web-based, a URL also will be generated.</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <!-- Content panel in every span for padding -->
                        <div class="feature-icon">
                          <img class="" ng-src="modules/home/img/icons/2.png" alt="" />
                        </div>
                          <h4 class="feature-title">
                            OPEN-SOURCE
                          </h4>
                          <p>Open source technology gives software developers a range of deployment options and access to a broad registry of publicly available development tools and frameworks. Developers can also deploy their own technologies and migrate from our platform at any point. </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <!-- Content panel in every span for padding -->
                        <div class="feature-icon">
                          <img class="" ng-src="modules/home/img/icons/3.png" alt="" />
                        </div>
                          <h4 class="feature-title">
                            TRANSPARENCY
                          </h4>
                          <p>Digital Garage is delivered as an online service that offers price transparency and cost-efficiency while eliminating complications of development infrastructure. Software developers can acquire and deploy their development environments without long approval cycles. </p>
                </div>
            </div>
            <div class="features-row row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <!-- Content panel in every span for padding -->
                        <div class="feature-icon">
                          <img class="" ng-src="modules/home/img/icons/4.png" alt="" />
                        </div>
                          <h4 class="feature-title">
                            EASY TO USE
                          </h4>
                          <p>Regardless of one’s available resources, software developers can easily set-up an environment to develop, test and stage software in just a few clicks.</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <!-- Content panel in every span for padding -->
                        <div class="feature-icon">
                          <img class="" ng-src="modules/home/img/icons/5.png" alt="" />
                        </div>
                        <h4 class="feature-title">
                          MULTI-LANGUAGE SUPPORT
                        </h4>
                        <p>Developers have the choice and ability to run multiple languages, frameworks, and databases on the same platform, allowing easy access to the Docker ecosystem.</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <!-- Content panel in every span for padding -->
                        <div class="feature-icon">
                          <img class="" ng-src="modules/home/img/icons/6.png" alt="" />
                        </div>
                        <h4 class="feature-title">
                          CONTAINER-BASED
                        </h4>
                        <p>Digital Garage provides an immutable platform based primarily on Docker containers to deploy and run applications and microservices.</p>
                </div>
            </div>
            <br>
            <div class="row text-center">
              <a class="btn btn-larger green " href="#">GO/CODE</a>
            </div>
        </section>