<div class="container" ng-controller="FooterController">
  <div class="content-panel">
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
        <h3 class="footer-title">Product</h3>

        <ul>
          <li><a href="#/#features" redirect-scroll>Features</a></li>
          <li><a href="#/#pricing" redirect-scroll>Pricing</a></li>
          <li><a  href="javascript:;" redirect-scroll>One-Click Apps (Coming Soon)</a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3 class="footer-title">About Us</h3>

        <ul>
          <li><a href="#/about#our-story" redirect-scroll>Our Story</a></li>
          <li><a href="#/about#team" offset="110" redirect-scroll>Team</a></li>
          <li><a href="#/about#partnerships" offset="110" redirect-scroll>Partnerships</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3 class="footer-title">Community (Coming Soon)</h3>

        <ul>
          <li><a class="text-muted" href="javascript:;">Tutorials</a></li>
          <li><a class="text-muted" href="javascript:;">Blog</a></li>
          <li><a class="text-muted" href="javascript:;">Q&amp;A Forum</a></li>
          <li><a class="text-muted" href="javascript:;">Chat on Stack</a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3 class="footer-title">Connect</h3>

        <ul>
          <li><a href="mailto:{{mailto}}?Subject=Contact" target="_top">Email</a></li>
          <li><a target="_blank" href="{{linkedin}}">LinkedIn</a></li>
          <li><a target="_blank" href="{{github}}">GitHub</a></li>
        </ul>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="footer-content">
          <p>The Digital Garage, LLC<br/>Copyright c 2016<br/>Denver, CO 80021</p>
        </div>
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <ul class="footer-content social">
          <li>
            <a href="#" class="social-dribbble"></a>
          </li>
          <li>
            <a href="#" class="social-facebook"></a>
          </li>
          <li>
            <a href="#" class="social-flickr"></a>
          </li>
          <li>
            <a href="#" class="social-google-plus"></a>
          </li>
          <li>
            <a href="#" class="social-linkedin"></a>
          </li>
          <li>
            <a href="#" class="social-tumblr"></a>
          </li>
          <li>
            <a href="#" class="social-twitter"></a>
          </li>
          <li>
            <a href="#" class="social-vimeo"></a>
          </li>
          <li>
            <a href="#" class="social-youtube"></a>
          </li>
        </ul>
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="footer-content">
          <p>&copy; {{app.year}} &nbsp;{{brand}}.<br/> All rights reserved</p>
        </div>
      </div>
    </div>
    -->
  </div>
</div>
