<nav class="navbar  frontnav" role="navigation" ng-controller="HeaderController as ctrl">
<!--<nav class="navbar  frontnav" role="navigation" ng-controller="HeaderController" ng-class="{flip: 50 >= top()}">-->
  <div class="container" scroll-position="scroll">
    <div class="row">
      <div class="navbar-header col-md-6 col-sm-5">
        <button type="button" class="navbar-toggle" ng-click="ctrl.isCollapsed = !ctrl.isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand-logo-collapsed visible-xs" href="/">
          <img ng-src="{{ ctrl.brandSmall }}"/>
        </a>
        <a class="navbar-brand brand-logo hidden-xs" href="/">
          <img ng-src="{{ ctrl.brand }}"/>
        </a>
      </div>
       <div class="navbar-search-input col-md-3 col-sm-4">
       <ui-select ng-model="ctrl.selected"
                  reset-search-input="true"
                  on-select="ctrl.onSelectCallback($item, $model)"
                  ng-click="ctrl.loadGhostEntries()">
            <ui-select-match placeholder="Search"  >
            </ui-select-match>
            <ui-select-choices
                  repeat="entries in ctrl.ghostEntries | filter:$select.search track by $index"
                  group-by="'type'">
                <span class="" ng-bind-html="entries.title | limitTo:30 | highlight: $select.search"></span><span ng-if="entries.title.length > 30">...</span>
            </ui-select-choices>
        </ui-select>
        <span class="search-icon fa fa-search pull-right"></span>
        <span ng-show="ctrl.searchIsLoading" class="search-loader-icon fa fa-spinner fa-spin pull-right"></span>

      </div>
      <div class="navbar-buttoms col-md-2 col-sm-3">
      <!--
        <a class="login-btn" href="javascript:;">Login</a>
        <a class="logout-btn" href="javascript:;">Register</a>
       -->
        <a class="login-btn" ng-click="ctrl.keyLogin()">Login</a>
        <a class="logout-btn" href="{{ctrl.registerUrl}}">Register</a>
      </div>
    </div>
  </div>

  <div class="collapse navbar-collapse" collapse="ctrl.isCollapsed">
    <!--<div class="collapse navbar-collapse">-->
    <div class="container">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown ng-scope" dropdown>
         <a  class-on-active-link="active" href="#/"  >Home</a>
        </li>
        <li class="dropdown ng-scope" dropdown>
          <a  href="#/#features" offset="110" redirect-scroll du-scrollspy>Features</a>
        </li>
        <li class="dropdown ng-scope" dropdown>
          <a href="#/#pricing" offset="110" redirect-scroll du-scrollspy>Pricing</a>
        </li>
        <li class="dropdown ng-scope" dropdown>
          <a  href="javascript:;" target="_blank">Community (Coming Soon)</a>
        </li>
        <li class="dropdown ng-scope" dropdown>
          <a ng-class="{ active: ctrl.isActive('/about')}" href="#/about" >About Us</a>
        </li>
      </ul>
    </div>
  </div><!-- /.navbar-collapse -->

</nav>
