<nav class="navbar  frontnav" role="navigation" ng-controller="HeaderController">
<!--<nav class="navbar  frontnav" role="navigation" ng-controller="HeaderController" ng-class="{flip: 50 >= top()}">-->
  <div class="container" scroll-position="scroll">
    <div class="row">
      <div class="navbar-header col-md-7 col-sm-5">
        <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand-logo-collapsed visible-xs" href="/">
          <img ng-src="{{ brandSmall }}"/>
        </a>
        <a class="navbar-brand brand-logo hidden-xs" href="/">
          <img ng-src="{{ brand }}"/>
        </a>
      </div>
       <div class="navbar-search-input col-md-2 col-sm-4">
          <div class="input-group">
              <input type="text" class="search-query form-control " placeholder="Search" />
              <span class="input-group-btn">
                  <button class="btn " type="button">
                      <span class="fa fa-search"></span>
                  </button>
              </span>
          </div>
      </div>
      <div class="navbar-buttoms col-md-2 col-sm-3">
        <a class="login-btn" ng-click="keyLogin()">Login</a>
        <a class="logout-btn" href="{{registerUrl}}">Register</a>
      </div>
    </div>
  </div>

  <div class="collapse navbar-collapse" collapse="isCollapsed">
    <!--<div class="collapse navbar-collapse">-->
    <div class="container">
      <ul du-spy-context class="nav navbar-nav navbar-left">
        <li class="dropdown ng-scope" dropdown>
         <a du-smooth-scroll="intro" ng-class="{ active: isActive('/')}" ng-click="redirect('/')" du-scrollspy>Home</a>
         </li>
        <li class="dropdown ng-scope" dropdown>
          <a href="#features" ng-click="redirectScroll('/','features')" du-scrollspy>Features</a>
        </li>
        <li class="dropdown ng-scope" dropdown>
          <a href="#pricing" offset="110" du-smooth-scroll du-scrollspy>Pricing</a>
        </li>
        <li class="dropdown ng-scope" dropdown>
          <a  href="{{communityUrl}}" target="_blank">Community</a>
        </li>
        <li class="dropdown ng-scope" dropdown>
          <a ng-class="{ active: isActive('/about')}" href="#/about">About us</a>
        </li>
        <!--
        <li class="dropdown ng-scope" dropdown>
          <a ng-click="keyLogin()">Login</a>
        </li>
        <li class="dropdown" dropdown>
          <a id="signup" ng-click="register()">Sign Up</a>
            <a id="signup" href="{{registerUrl}}">Sign Up</a>

        </li>
        -->
        <!--
        <li class="dropdown" dropdown>
          <a href="#" ng-click="logoutKeyCloak();">Logout</a>
        </li>
        -->
      </ul>
    </div>
  </div><!-- /.navbar-collapse -->

</nav>
