<div id="about-us">
	<div id="our-story" class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2  col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
			<h2><b>About Us</b></h2>
			<h3><b>Our Story</b></h3>
			<p>Digital Garage was founded March 1, 2016 with a commitment to serve the DevOps community
			of small, innovative companies and teams that need a simple, easy, and flexible platform for
			developing, testing, and staging software applications.</p>

			<p>We provide a cloud-based platform as a service (PaaS) that supports several programming
			languages and functions as well as integrated DevOps build, run, deploy, and manage
			applications.</p>

			<p>At Digital Garage we believe the development community’s future is limitless and growing.
			Developers and software engineers are becoming the decision-makers. Our goal is to build a
			loyal customer base for the wave of startups as they develop and test new software products.
			Our customer outreach will be anchored by a community of users around the Digital Garage
			brand to drive word-of-mouth traffic.</p>

			<p>Digital garage is especially passionate about working with disadvantaged communities to grow
			skills, jobs, and professional engagement to allow people of all shapes and sizes in whatever
			geographic market to tap into technology as a new career option.</p>

			<p><i>"Many application developers are embracing a new wave in software architecture and open
			source tools, namely container-based microservices. Digital Garage is positioned right
			alongside this group to help fill those needs.” — John McCawley, Co-founder and CEO, the
			Digital Garage.</i></p>

			<h4><b>Team</b></h4>
			<div class="row team-member">
				<img  src="modules/home/img/team/johnm.jpg">
				<p><b>John McCawley</b> is the CEO and co-founder of Digital Garage. John is
				a serial entrepreneur with extensive executive experience with Fortune
				500 companies and tier 1 telecommunications service providers. As an
				executive leader over the past 15 years John has built a reputation for
				innovation, leadership, and building successful partnerships in the
				Information and Communications Technology market. John’s last start
				up, Verecloud, a cloud services brokerage platform, was acquired by
				WestonGroup in September 2014.</p>
			</div>
			<div class="row team-member">
				<img src="modules/home/img/team/johnd.jpg">
				<p><b>John Dardick</b> is a Digital Garage co-founder. He is an executive leader
				with 30 years of IT channel experience leading a broad array of
				functions. He has a solid track record for building win-win partnerships
				across value added technology distributors, resellers, and OEMs. Most
				recently as EVP of Global Business Development at Verecloud John
				was instrumental in the sale of of the company to WestonGroup where
				he then served as the Vice President of Global Cloud Solutions
				responsible for building the cloud services portfolio.</p>
			</div>
			<div class="row team-member">
				<img src="modules/home/img/team/jody.jpg">
				<p ><b>Jody Madala</b> is a co-founder of Digital Garage. Previously, Jody
				worked extensively with both hospital-provider investors and healthcare
				technology startups, building on a 20+ year career in finance and credit
				analysis. Jody was named to Institutional Investors’ All America Fixed-
				Income Team in multiple years for her healthcare credit work. She has
				also organized due diligence and performed company valuations for
				mergers, acquisitions and divestitures of healthcare assets. Jody is a
				CFA charterholder with a Master’s in Public Administration from New
				York University and a Bachelor of Arts degree in Biophysics from Johns
				Hopkins University.</p>
			</div>
			<div class="row team-member">
				<img src="modules/home/img/team/havana.jpg">
				<p><b>Havana Posa</b> is a Digital Garage co-founder and a recent graduate
				from the University of New Mexico with a B.S. in Physical Anthropology.
				She is a motivated entrepreneur with a strong foundation in her family's
				manufacturing and restaurant business, her work as a legal assistant in
				I.P. law, and as an event coordinator. She is excited to continue
				building expertise in content marketing and social media in the
				technology sector.</p>
			</div>
		</div>
	</div>

	<div id="partnerships" class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
			<h3><b>Partnerships</b></h3>
			<p>Digital Garage will pursue partners across tech markets in the U.S and abroad. Partnerships will
			be carefully selected to ensure they excite and energize the Digital Garage user community,
			Partners will provide add-ons to Digital Garage’s offerings and will also attract additional users
			while retaining the ones we have. Partners will tie-into Digital Garage’s overall mission of being
			an open, simple, and flexible software testing and building environment with a laser focus on the
			needs of the individual developer.</p>

			<ul>
			  	<li>
			  		<b>Training Partners</b> such as on-line software development training partners to create
					awareness and provide credibility.
				</li>
			  	<li>
			  		<b>System Integrators</b> comprised of mid- to large system integrators and development
					designers to create awareness, support, etc.
				</li>
			  	<li>
			  		<b>Service Add-On</b> in areas of infrastructure or production.
			  	</li>
			</ul>
			<b><i>We care about our communities.</i></b>
			<p>Digital Garage is especially passionate about working with disadvantaged communities to grow
			skills, jobs, and professional engagement to allow people of all shapes and sizes in whatever
			geographic market to tap into technology as a new career option.</p>
		</div>
	</div>


	<div id="careers" class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
			<h3><b>Careers at Digital Garage</b></h3>
			<p>At Digital Garage, we are simplifying the development process for small nimble development
			teams. We need talented, energized, hard-working people to help us fulfill our mission.</p>

			<i><b>About Digital Garage</b></i>
			<p>We are a New Mexico-based start-up, offering a Platform-as-a-service to enable developers to
			build, test and stage their software applications. Our talented team is at the heart of everything
			we do and everything we hope to achieve. We are collaboration-focused, remote-friendly, and
			flexible. We care deeply about supporting the growth of all our employees and making sure they
			are professionally fulfilled.</p>

			<p>Current Openings: Stay tuned!</p>
		</div>
	</div>
</div>


