<div ng-controller="HomeController">
    <article id="intro">
      <flex-slider class="home-carousel"  flex-slide="s in slides track by $index" direction-nav=false>
          <li>
              <center class="carousel-wrap">
                <img ng-src="{{s.img}}">
                <div class="carousel-darklayer" "></div>
                <div class="carousel-text col-lg-5 col-md-8 col-sm-8">
                  <h1>{{s.title}}</h1>
                  <p>{{s.text}}</p>
                  <a class="btn btn-larger btn-slideshow green " href="{{s.btnHref}}">{{s.btnLabel}}</a>
                </div>
              </center>
          </li>
      </flex-slider>
    </article>

    <article id="features" ui-view="features" class="main">
    </article>

    <article id="pricing" ui-view="pricing" class="building">
     </article>

    <article id="account" class="main">
      <section class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 ">
            <h3 class="text-center">Got 5 Minutes? Set Up Your Digital Garage Now</h3>
            <div class="content-panel">
              <div class="col-xs-12">
                <p class="term-of-service">By signing up, you agree to the <a href="#">Terms of Service</a></p>
              </div>
              <div class="col-xs-12 text-center">
                <a href="{{register_url}}" class="btn btn-larger green ">GO/CODE</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
</div>