<div ng-controller="HomeController">
    <article id="intro">
      <flex-slider class="home-carousel"  flex-slide="s in slides track by $index" direction-nav=false>
          <li>
              <center class="carousel-wrap">
                <img ng-src="{{s.img}}">
                <div class="carousel-darklayer" "></div>
                <div class="carousel-text col-lg-5 col-md-8 col-sm-8">
                  <h1>{{s.title}}</h1>
                  <p>{{s.text}}</p>
                  <a class="btn btn-larger btn-slideshow green " href="{{s.btnHref}}">{{s.btnLabel}}</a>
                </div>
              </center>
          </li>
      </flex-slider>
    </article>

    <article id="features" class="main">
        <section class="container">
            <div class="features-head row">
              <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <h3>Building Software Just Got Easier</h3>
                  <br>
                  <p class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">Digital Garage developers can quickly and easily build applications using either the web console, command-line interface, or integrated development environments</p>
              </div>
            </div>
            <br>
            <div class="features-row row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <!-- Content panel in every span for padding -->
                    <div class="feature-icon">
                      <img class="" ng-src="modules/home/img/icons/1.png" alt="" />
                    </div>
                      <h4 class="feature-title margin-top-0">
                        ONE-STOP DEVELOPMENT ENVIRONMENT
                      </h4>
                      <p>Once code commited to Github is transferred to Digital Garage, developers enjoy a selection of over 30 one-click appilcation installs to continue product build. An appropriate number of Digital Garage pods - <i>Docker containers running on our infrastructure</i> - are then spun up. If an application is web-based, a URL also will be genrated.</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <!-- Content panel in every span for padding -->
                        <div class="feature-icon">
                          <img class="" ng-src="modules/home/img/icons/2.png" alt="" />
                        </div>
                          <h4 class="feature-title">
                            OPEN-SOURCE
                          </h4>
                          <p>Open source technology gives software developers a range of deployment options and access to a broad registry of publicly available development tools and frameworks. Developers can also deploy their own technologies and migrate from our platform at any point. </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <!-- Content panel in every span for padding -->
                        <div class="feature-icon">
                          <img class="" ng-src="modules/home/img/icons/3.png" alt="" />
                        </div>
                          <h4 class="feature-title">
                            TRANSPARENCY
                          </h4>
                          <p>Digital Garage is delivered as an online service that offers price transparency and cost-efficiency while eliminating complications of development infrastructure. Software developers can acquire and deploy their development environments without long approval cycles. </p>
                </div>
            </div>
            <div class="features-row row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <!-- Content panel in every span for padding -->
                        <div class="feature-icon">
                          <img class="" ng-src="modules/home/img/icons/4.png" alt="" />
                        </div>
                          <h4 class="feature-title">
                            EASY TO USE
                          </h4>
                          <p>Regardless of one’s available resources, software developers can easily set-up an environment to develop, test and stage software in just a few clicks.</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <!-- Content panel in every span for padding -->
                        <div class="feature-icon">
                          <img class="" ng-src="modules/home/img/icons/5.png" alt="" />
                        </div>
                        <h4 class="feature-title">
                          MULTI-LANGUAGE SUPPORT
                        </h4>
                        <p>Developers have the choice and ability to run multiple languages, frameworks, and databases on the same platform, allowing easy access to the Docker ecosystem.</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <!-- Content panel in every span for padding -->
                        <div class="feature-icon">
                          <img class="" ng-src="modules/home/img/icons/6.png" alt="" />
                        </div>
                        <h4 class="feature-title">
                          CONTAINER-BASED
                        </h4>
                        <p>Digital Garage provides an immutable platform based primarily on Docker containers to deploy and run applications and microservices.</p>
                </div>
            </div>
            <br>
            <div class="row text-center">
              <a class="btn btn-larger green " href="#">GO/CODE</a>
            </div>
        </section>
    </article>

    <article id="pricing" class="building">
        <section class="container">
            <div class="content-panel">
              <h3 class="pricing-title">Simple Pricing Plan</h3><br>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="pricing-box-info">
                      <p>Digital Garage offers an introductory <b>HELLO WORLD</b> package to get your development environment started. As your development needs grow, you can adjust your resources at any point in time - no need to wait. No surprises and no long-term commitments.</p>
                    </div>
                    <div class="pricing-box">
                      <h4>HELLO WORLD</h4>
                      <span></span>512MB Memory<br>
                      <span>1 CPU/Core</span><br>
                      <span>10GB SSD Storage</span><br>
                      <span >25GB Data Transfer</span><br><br>
                      <span class="price-permonth">$5 per month</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-offset-2 col-lg-offset-2 col-md-7 col-lg-7">
                  <div class="pricing-calculator">
                      <h4>What You Pay</h4>
                      <span ng-bind="plan_info.memory"></span> Memory<br>
                      <hr>
                      <span ng-bind="plan_info.cpu">1 CPU/Core</span><br>
                      <hr>
                      <span ng-bind="plan_info.storage">10GB SSD Storage</span><br>
                      <hr>
                      <span ng-bind="plan_info.datatransfer">25GB Data Transfer</span><br>
                      <hr>
                      <div class="price">
                        $<span ng-bind="plan_info.price"></span> per month
                      </div>
                  </div>
                  <rzslider
                      rz-slider-model="slider_plan.value"
                      rz-slider-options="slider_plan.options"></rzslider>

                  <div class="pricing-gocode">
                    <a href="#" class="btn btn-larger green ">GO/CODE</a>
                  </div>
                  <div class="col-xs-12 text-center">
                    <a href="#" class="pricing-moreinfo">More info</a><br>
                    Contact us for pricing beyond 20GB of memory.
                  </div>

                </div>
              </div>
            </div>
        </section>
    </article>

    <article id="account" class="main">
      <section class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 ">
            <h3 class="text-center">Got 5 Minutes? Set Up Your Digital Garage Now</h3>
            <div class="content-panel">
              <div class="col-sm-12">
                <input type="email" class="form-control" name="email" placeholder="Email Address"/>
              </div>
              <div class="col-sm-12">
                <input type="password" class="form-control" name="password" placeholder="Password"/>
              </div>
              <div class="col-xs-12">
                <p class="term-of-service">By signing up, you agree to the <a href="#">Term of Service</a></p>
              </div>
              <div class="col-xs-12 text-center">
                <a href="#" class="btn btn-larger green ">GO/CODE</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
</div>